.footer {
    padding: 80px 0;
    background: #37474f;

    .mobile {
        display: none !important;
    }

    .footer__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .footer__top__list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 550px;

            .footer__top__item {
                font-family: "Gilroy", serif;
                font-size: 20px;
                line-height: 23px;
                color: #a3a3a3;
            }

            .footer__top__link {
                font-family: "Gilroy", serif;
                font-size: 20px;
                line-height: 23px;
                color: #a3a3a3;
            }
        }

        .footer__top__btn {
            background: transparent;
            border: none;
        }
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        flex-wrap: wrap;

        .footer__bottom__title {
            margin: 0;
            padding: 0;
            font-family: "Gilroy", serif;
            font-size: 18px;
            line-height: 21px;
            color: #b8b8b8;
        }

        .footer__bottom__address {
            margin: 0;
            padding: 14px;
            font-family: "Gilroy", serif;
            font-size: 18px;
            line-height: 21px;
            color: #b8b8b8;
            border: 1px solid #b8b8b8;
            border-radius: 10px;
        }

        .footer__bottom__address-btn {
            margin-left: 5px;
            padding: 5px;
            border: none;
            background: #575757;
            border-radius: 10px;
        }

        .footer__bottom__address-link {
            font-family: "Gilroy", serif;
            font-size: 18px;
            line-height: 21px;
            color: #ffffff;
        }
    }

    @include media-max(685px) {
        .desktop {
            display: none !important;
        }

        .mobile {
            display: block !important;

            .footer__top__list {
                width: 170px;
            }

            .footer__top__phones {
                display: flex;
                max-width: 350px;
                justify-content: space-between;
                margin-bottom: 80px;
                flex-wrap: wrap;


                .footer__top__item {
                    font-family: "Gilroy", serif;
                    font-size: 20px;
                    line-height: 23px;
                    color: #a3a3a3;
                }

                .footer__top__link {
                    font-family: "Gilroy", serif;
                    font-size: 20px;
                    line-height: 23px;
                    color: #a3a3a3;
                }
            }
        }
    }

    @include media-max(685px){
        .footer__bottom{
            flex-direction: column;
        }
        
        .footer__bottom__address{
            max-width: 400px;
            margin-top: 20px !important;
        }
    }
}
